# node_modules 폴더
/node_modules/

# 빌드된 결과물
/build/
/dist/

# 환경 설정 파일
.env
.env.*  # 여러 환경 파일 (예: .env.local, .env.production)

# 로그 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 운영체제별 파일 (macOS, Windows, Linux 등)
.DS_Store
Thumbs.db

# IDE 설정 파일 (VSCode, JetBrains 등)
.vscode/
.idea/

# 패키지 매니저 캐시 (yarn, npm 등)
.yarn/
package-lock.json

# 테스트 및 디버깅 관련 파일
coverage/

# 빌드 툴과 관련된 파일 (예: Webpack, Babel 등의 캐시)
.cache/
.parcel-cache/

# React Native (React Native 프로젝트의 경우)
.expo/